In [4]:
import pandas as pd

ufo_data = pd.read_csv('data/ufo.csv', sep=',')
ufo_data.head()

ufo_df = ufo_data.copy()
display(ufo_df.head())

ufo_df['Time'] = pd.to_datetime(ufo_df.Time)
print(ufo_df['Time'].dt.year.mode()[0])

ufo_df['Date'] = ufo_df['Time'].dt.date
print(ufo_df[ufo_df['State']=='NV']['Date'].diff().dt.days.mean())

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

1999
68.92932862190813