In [11]:

import pandas as pd
student_data = pd.read_csv('data/students_performance.csv', sep=',')

display(student_data.head())

display(student_data.shape[0])

display(student_data.loc[155, 'writing score'])

display(student_data.info())

display(int(student_data['math score'].mean()))

display(student_data['race/ethnicity'].mode())

display(round(student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()))

display(student_data[student_data['math score'] == 0].shape[0])

display(student_data[student_data['lunch'] == 'standard']['math score'].mean())
display(student_data[student_data['lunch'] == 'free/reduced']['math score'].mean())

display(student_data["parental level of education"].value_counts(normalize=True))

a = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
b = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
display(round(abs(a - b)))

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

1000

88

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

None

66

0    group C
Name: race/ethnicity, dtype: object

74

1

70.03410852713178

58.92112676056338

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

6